<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <filter>
        <filter-name>FOUFilter</filter-name>
        <filter-class>com.spring.tutorial.controllers.FOUFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FOUFilter</filter-name>
        <url-pattern>/my-drive/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>UploadFile</servlet-name>
        <servlet-class>com.spring.tutorial.formHandlers.UploadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadServlet</servlet-name>
        <servlet-class>com.spring.tutorial.formHandlers.DownloadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacebookSignIn</servlet-name>
        <servlet-class>com.spring.tutorial.facebook.FacebookSignIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacebookCallback</servlet-name>
        <servlet-class>com.spring.tutorial.facebook.FacebookCallback</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadFile</servlet-name>
        <url-pattern>/my-drive/file-upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacebookSignIn</servlet-name>
        <url-pattern>/FacebookSignIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacebookCallback</servlet-name>
        <url-pattern>/FacebookCallback</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <jsp-config>
        <jsp-property-group>
            <description>header and footer settings</description>
            <url-pattern>/WEB-INF/jsp/mydrive/*</url-pattern>
            <include-prelude>/WEB-INF/jspf/header.jspf</include-prelude>
            <include-coda>/WEB-INF/jspf/footer.jspf</include-coda>
        </jsp-property-group>
    </jsp-config>
</web-app>
